@model IEnumerable<AspNet.CRUD.Models.Jumpers>
@* @model string *@
@{ViewBag.Title = "Página Inicial";}
<br><br>
<hr />
<div id="list" class="row">
    <div class="table-respoonsive col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>@Html.DisplayName("ID")</th>
					<th>@Html.DisplayName("Tipo")</th>
					<th>@Html.DisplayName("Quantidade")</th>
					<th>@Html.DisplayName("Ações")</th>
				</tr>
			</thead>
			<tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@item.IDJumpers</td>
                        <td>@item.TypeJumpers</td>
                        <td>@item.QntdJumpers</td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id=item.IDJumpers }, new { @class = "btn btn-warning btn-xs" }) 
                            @Html.ActionLink("Visualizar", "Visualizar", new { id=item.IDJumpers }, new { @class = "btn btn-success btn-xs" })
                            @Ajax.ActionLink("Excluir", "ExcluirConfirmacao", new { id=item.IDJumpers }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "confirmacaoExcluirOnSuccess" }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }
			</tbody>
		</table>
	</div>			
</div>
<div id="bottom" class="row">
	<div class="col-md-12">
			
		<ul class="pagination">
			<li class="disabled"><a>Anterior</a></li>
			<li class="disabled"><a>1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li class="next"><a href="#" rel="next">próximo</a></li>
		</ul>
			
	</div>
</div>