@model AspNet.CRUD.Models.Jumpers
<div class="modal fade" data-id="create-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
                <h2>Adicionar Jumpers</h2>
            </div>
			<div class="modal-body">
                @using (Ajax.BeginForm(actionName: "Adicionar", controllerName: "Jumper", routeValues: null, ajaxOptions: new AjaxOptions() { HttpMethod = "POST", OnSuccess = "cadastrarItemOnSuccess" }, htmlAttributes: new { id = "cadastrarForm" }))
                {
                    <div class="editor-label">
                    @Html.LabelFor(model => model.TypeJumpers)
                    </div>
                    <div class="editor-field">
                    @Html.EditorFor(model => model.TypeJumpers)
                    @Html.ValidationMessageFor(model => model.TypeJumpers)
                    </div>

                    <div class="editor-label">
                    @Html.LabelFor(model => model.QntdJumpers)
                    </div>
                    <div class="editor-field" min="1">
                    @Html.EditorFor(model => model.QntdJumpers)
                    @Html.ValidationMessageFor(model => model.QntdJumpers)
                    </div>
                }
   			</div>
			<div class="modal-footer">
				<button type="button" id="btnAdicionarItem" class="btn btn-primary">Sim</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
			</div>
		</div>
	</div>
</div>